.Navbar {
  width: 100%;
  color: #333;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 0;
  margin-bottom: 1rem ;
}

nav {
  display: flex;
  align-items: center;
  border-top: #333 1px solid;
  border-bottom: #333 1px solid;
  justify-content: center;
}

.category {
  padding: 1rem;
}

.category:hover {
  background-color: #f4f4f4;
}

a {
  color: inherit;
}

.all-items {
  font-family: 'Assistant', sans-serif;
  font-weight: bold;
}