table {
  border-collapse: separate;
  border-spacing: 0.5rem;
}

th, td {
  background-color: #f4f4f4;
  padding: 1rem;
  text-align: center;
}

#h-0, .remove {
  background-color: white;
}

.remove {
  cursor: pointer;
}


@media (max-width: 600px) {
  table {
    font-size: 0.8rem;
  }
}